In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras

import warnings
warnings.filterwarnings('ignore')

In [2]:
gas_data = pd.read_csv('gas_turbines.csv')
gas_data

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [3]:
gas_data.shape

(15039, 11)

In [4]:
gas_data.isna().sum()

AT      0
AP      0
AH      0
AFDP    0
GTEP    0
TIT     0
TAT     0
TEY     0
CDP     0
CO      0
NOX     0
dtype: int64

In [5]:
gas_data.dtypes

AT      float64
AP      float64
AH      float64
AFDP    float64
GTEP    float64
TIT     float64
TAT     float64
TEY     float64
CDP     float64
CO      float64
NOX     float64
dtype: object

In [6]:
x=gas_data.drop(labels='TEY',axis=1)
y=gas_data['TEY']

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [8]:
scaled_x = scaler.fit_transform(x)
scaled_x

array([[-1.4397781 , -0.82664395,  1.28143632, ..., -1.35733078,
         0.53201195,  1.3878449 ],
       [-1.44960109, -0.74864748,  1.30456402, ..., -1.36367619,
         0.56873344,  1.39300237],
       [-1.43472138, -0.68625031,  1.21908576, ..., -1.36095673,
         0.5529378 ,  1.36358566],
       ...,
       [-1.38626659, -1.07623263,  1.47697056, ..., -1.46792219,
         2.69592467,  2.17006209],
       [-1.42042259, -0.99823616,  1.44159024, ..., -1.42259784,
         1.9246834 ,  2.391165  ],
       [-1.43073409, -0.93583899,  1.33465179, ..., -1.37727349,
         1.35415028,  2.32153907]])

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(scaled_x,y,test_size=0.20,random_state=12)

In [10]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((12031, 10), (12031,), (3008, 10), (3008,))

In [11]:
model = tf.keras.models.Sequential([tf.keras.layers.Flatten(input_dim = 10), #I/player
                                    tf.keras.layers.Dense(8,activation = 'relu'), #Hidden layer 1
                                    tf.keras.layers.Dense(1,activation = 'relu')]) #O/p layer

In [12]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten (Flatten)            (None, 10)                0
_________________________________________________________________
dense (Dense)                (None, 8)                 88
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 9
=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['accuracy'])

In [14]:
model.fit(x=x_train,y=y_train,batch_size=50,epochs=10,verbose=1)

Epoch 1/10
241/241 [==============================] - 1s 897us/step - loss: 17447.7559 - accuracy: 0.0000e+00
Epoch 2/10
241/241 [==============================] - 0s 881us/step - loss: 15849.3506 - accuracy: 0.0000e+00
Epoch 3/10
241/241 [==============================] - 0s 898us/step - loss: 13642.1270 - accuracy: 0.0000e+00
Epoch 4/10
241/241 [==============================] - 0s 881us/step - loss: 11210.9307 - accuracy: 0.0000e+00
Epoch 5/10
241/241 [==============================] - 0s 993us/step - loss: 8961.3057 - accuracy: 0.0000e+00
Epoch 6/10
241/241 [==============================] - 0s 869us/step - loss: 7075.4624 - accuracy: 0.0000e+00
Epoch 7/10
241/241 [==============================] - 0s 869us/step - loss: 5514.7285 - accuracy: 0.0000e+00
Epoch 8/10
241/241 [==============================] - 0s 860us/step - loss: 4199.7866 - accuracy: 0.0000e+00
Epoch 9/10
241/241 [==============================] - 0s 881us/step - loss: 3101.3557 - accuracy: 0.0000e+00
Epoch 10/10
241/241 [==============================] - 0s 1ms/step - loss: 2220.2622 - accuracy: 0.0000e+00

In [15]:
y_pred=model.predict(x_test)
y_pred

array([[ 94.73556 ],
       [ 58.23558 ],
       [124.79391 ],
       ...,
       [ 91.231834],
       [ 70.822784],
       [151.8695  ]], dtype=float32)

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
model.evaluate(x_test,y_test)

94/94 [==============================] - 0s 740us/step - loss: 1814.9686 - accuracy: 0.0000e+00

[1814.9686279296875, 0.0]

In [18]:
mean_squared_error(y_test,y_pred)

1814.967795195714